.Header_Text{
    color: white;
    margin-top: 15rem;
    width: 60%;
    max-width: 800px;
    padding: 0px 20px;
}

.Header_Text > div{
    width: 100%;
    max-width: 600px;
    font-size: 30px;
    font-family: var(--Mark-Font);
    font-weight: 800;
}
