.services_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_wrapper > h1{
    font-size: 4em;
    font-family: var(--Mark-Font);
    background-image: linear-gradient(90deg,#aec7f5,#f0d1f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--Mark-Font);

}

.row:after{
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 250px;
    height: 500px;
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
    backdrop-filter: blur(54px);
    border-top: 0.1em solid #20222e;
    border-bottom: 0.1em solid #20222e;
/*
    border: 1px solid gray; */
    padding: 20px 10px;
}

.column:first-child{
    border-left: 0.1rem solid #20222e;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.column:last-child{
    border-right: 0.1rem solid #20222e;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.column > div{
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(35,37,49,.5); */
    border-radius: 100%;
    margin-top: 10px;
}

.column > h3{
    font-size: 1.5rem;
    margin: 15px 0px 5px 0px;
    color: #57a3c7;
}

.column > p{
    text-align: center;
    color: var(--text-gray);
    height: 40px;
}

.column > ul{
   list-style: none;
   text-align: center;
   padding: 0px;
}

.column > ul > li{
    padding: 10px 0px;
    color: var(--text-gray);
}

.column > ul > li:first-child{
    border-top: 1px solid rgb(102, 100, 100, 0.4);
}

.column > ul > li:nth-child(2){
    border-top: 1px solid rgb(102, 100, 100, 0.4);
    border-bottom: 1px solid rgb(102, 100, 100,0.4);
}

.column > ul > li:last-child{
    border-bottom: 1px solid rgb(102, 100, 100, 0.4);
}

.column > h2{
    color: #57a3c7;
    font-size: 1.8rem;
}
