:root {
    --text-gray: #C4C4C4;
    --text-dark-gray: #8B8B8B;
    --white: #fff;
    --Mark-Font: "Mark Pro", sans-serif;
    --Roboto-Font: "Roboto", sans-serif;
    --DDIN: 'D-DIN', sans-serif;
    --DDIN-EXP: 'D-DIN Exp', sans-serif;
    --DDIN-COND: 'D-DIN Condensed', sans-serif;
}


body {
    background-color: #10101a;
    margin: 0;
}

section{
    width: 100%;
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    margin: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    color: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.596);
    border-radius: 10px;
  }
